{
    "include_dirs": [
        "./common_test",
        "./common_test/*/include",
        "./common_test/*/src"
    ],
    "apps_dirs": [
        "./common_test/*"
    ],
    "compiler_telemetry_enabled": true,
    "deps_dirs": [
        "../../third-party/vendor/*"
    ],
    "diagnostics": {
        "disabled": [
            "crossref",
            "dialyzer",
            "elvis"
        ],
        "enabled": [
            "edoc"
        ]
    },
    "incremental_sync": true,
    "lenses": {
        "disabled": [
            "suggest-spec",
            "function-references"
        ],
        "enabled": [
            "server-info"
        ]
    },
    "macros": [
        {
            "name": "TEST"
        }
    ]
}
