name: Enable auto-merge for Dependabot PRs

on:
  pull_request:

permissions: read-all

jobs:
  dependabot-auto-merge:
    name: 'Dependabot auto-merge'
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
    - name: Enable auto-merge for Dependabot PRs
      run: gh pr merge --auto --rebase "$PR_URL"
      env:
        PR_URL: ${{github.event.pull_request.html_url}}
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
